
:root {
    --color-white: #ffffff;
    --color-theme: #fc721e;
    --color-dark: #212529;
  
    --color-light-gray: #f5f5f5;
    --color-dark-gray: #5c5c5c;
  
    --color-text-1: rgb(255, 255, 255);
    --color-text-2: #999;
  
    --font-primary: "Rubik", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a:hover {
    text-decoration: none;
  }  

  .btn__primary {
      background-color: var(--color-theme);
      font-size: 1rem;
      color: var(--color-white);
      font-weight: 500;
      padding: 8px 20px;
      display: inline-block;
  }

  .body__wrap{
      position: relative;
  }

  .body__header{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
  }
  .body__header header{
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .desktop__banner img{
    width: 100%;
    height: 100vh;
  }

  /* section why */

  .section__why {
    padding: 60px 0;
}
  .section__why-list{
      display: flex;
      flex-direction: row;
  }

  .section__why-list .left__section{
      /* padding: 20px; */
      width: 80px;
      height: 80px;
      margin: 0 20px 20px 0;
      font-size: 2rem;
      text-align: center;
      line-height: 80px;
      position: relative;
      
  }

  .section__why-list .left__section i{
      color: var(--color-dark-gray);
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 10;
  }

  .section__why-list .left__section::before{
      content: "";
      width: 60px;
      height: 60px;
      border: 7px solid rgb(255, 238, 0);
      position: absolute;
      top: 0;
      left: 0;
  }

  .section__why-list .left__section::after{
    content: "";
    width: 25px;
    height: 25px;
    font-size: 1rem;
    line-height: 20px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
}
.section__why-list:first-child .left__section::after{
    content: "01";
}

.section__why-list:nth-child(2) .left__section::after{
    content: "02";
}
.section__why-list:nth-child(3) .left__section::after{
    content: "03";
}

.section__type .section__body img{
  width: 100%;
}

.section__feature .section__feature-list{
    padding: 10px;
}

.section__feature .section__feature-list i{
    padding-right: 10px;
}

.section__consultation{
    padding: 60px 0 100px;
    background-color: #e7e7e7;
}
.wrap__icon {
    display: inline-block;
    font-size: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border: 1px solid var(--color-theme);
    border-radius: 4px;
}

.wrap__icon i{
    line-height: 70px;
    color: var(--color-theme);
}
.section__form form input{
    width: 100%;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    
}


/* body footer */

.body__footer{
    background-color: #212529;
}

  .body__footer header{
    padding: 20px 0;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 700;
  }
  
  .section__footer {
    padding-bottom: 20px;
  }

  .section__content{
    color: var(--color-white);
  }


  .section__content .social__link{
    color: var(--color-theme);
  }
  .section__content:hover{
      color: #e7e7e7;
  }
  .section__footer-bottom{
    padding: 10px 0;
    color: var(--color-white);
    text-align: center;
    border-top: 1px solid #14181b;
  }

