
:root {
    --color-white: #ffffff;
    --color-theme: #fc721e;
    --color-dark: #212529;
  
    --color-light-gray: #f5f5f5;
    --color-dark-gray: #5c5c5c;
  
    --color-text-1: rgb(255, 255, 255);
    --color-text-2: #999;
  
    --font-primary: "Rubik", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a:hover {
    text-decoration: none;
  }  

  .btn__primary {
      background-color: var(--color-theme);
      font-size: 1rem;
      color: var(--color-white);
      font-weight: 500;
      padding: 8px 20px;
      display: inline-block;
  }

  .body__wrap{
      position: relative;
  }

  .body__header{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
  }
  .body__header header{
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .desktop__banner img{
    width: 100%;
    height: 100vh;
  }

  /* section why */

  .section__why {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 60px 0;
  }

  .section__why-image, .section__why-content {
      width: 50%;
  }

  .section__why-list{
      display: flex;
      flex-direction: row;
  }

  .section__why-list .left__section{
      /* padding: 20px; */
      width: 80px;
      height: 80px;
      margin: 0 20px 20px 0;
      font-size: 2rem;
      text-align: center;
      line-height: 80px;
      position: relative;
      
  }

  .section__why-list .left__section i{
      color: var(--color-dark-gray);
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 10;
  }

  .section__why-list .left__section::before{
      content: "";
      width: 60px;
      height: 60px;
      border: 7px solid rgb(255, 238, 0);
      position: absolute;
      top: 0;
      left: 0;
  }

  .section__why-list .left__section::after{
    content: "";
    width: 25px;
    height: 25px;
    font-size: 1rem;
    line-height: 20px;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
}
.section__why-list:first-child .left__section::after{
    content: "01";
}

.section__why-list:nth-child(2) .left__section::after{
    content: "02";
}
.section__why-list:nth-child(3) .left__section::after{
    content: "03";
}

.section__feature{
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.section__feature .section__feature-list{
    width: 33%;
    padding: 10px;
    list-style: square;
}

.section__form{
    margin: 0 150px;
    padding: 60px;
    width: 80%;
    background-color: #5c5c5c;
    position: absolute;
    bottom: 340px;
    z-index: 2;
}

.section__form form{
    margin-right: 30px;
}

.footer__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section__form form input{
    width: 100%;
    padding: 4px 10px 9px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    
}


/* body footer */

.body__footer{
    background-color: #212529;
    position: relative;
}

.section__footer-top{
    width: 80%;
    margin: 0 auto;
    padding: 120px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .body__footer header{
    padding: 2rem 0;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: 700;
  }

  .section__footer {
    width: 20%;
  }

  .section__content{
    padding: 0 0 3rem;
    color: var(--color-white);
  }

  .section__footer-bottom{
    padding: 0 0 40px;
    color: var(--color-white);
    text-align: center;
  }