.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 6px 16px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid rgba(158, 80, 149, 0.39);
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgba(112, 88, 163, 1);
  white-space: nowrap;
  border-radius: 4px;
  z-index: 0;
  text-transform: capitalize;
}

.hbtn:hover {
  color: #fff;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-middle::before {
  position: absolute;
  content: "";
  /* background: rgb(44, 4, 67); */
  background: rgb(236, 75, 149);
  transition-duration: 0.3s;
  z-index: -1;
  inset: auto auto 0px 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
}

.hb-fill-middle:hover::before {
  width: 100%;
  height: 50%;
  opacity: 1;
}

.hb-fill-middle2:hover {
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}

.hb-fill-middle::after {
  position: absolute;
  content: "";
  /* background: rgb(90, 6, 76); */
  background: rgb(236, 75, 149);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
}

.hb-fill-middle:hover::after {
  height: 50%;
}

.hpad2 {
  padding: 12px 24px !important;
}

.hbor1 {
  border-width: 1px;
}

.hbor1::before {
  border-width: 1px !important;
}
