@media (min-width: 769px) {
  
.top__space-p {
  padding-top: 6rem;
}
.bottom__space-p {
  padding-bottom: 6rem;
}
.space__py {
  padding: 6rem 0;
}
  .hamburger {
    display: none;
  }
  .banner__mobile {
    display: none;
  }

  .body__header {
    width: 100%;
    background-color: #ffffffe7;
    position: absolute;
    z-index: 9;
  }
  .body__header header {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header__brand img {
    height: 60px;
  }

  .nav__list {
    display: inline;
  }
  .nav__list + li {
    margin-left: 30px;
  }
  /* .body__banner img {
    height: 100vh;
    width: 100%;
  } */

  .home__service-body article {
    width: 33%;
    padding: 30px;
  }
  .service__section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service__section-article {
    width: 29%;
  }

  .section__appointment {
    position: relative;
  }
  .section__appointment::after {
    content: "";
    width: 100%;
    height: 350px;
    background-image: url("../img/icon/bg1.svg");
    background-size: 400px 350px;
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.4;
    z-index: -1;
  }
  /* .section__appointment::before {
    content: "";
    width: 100%;
    height: 350px;
    background-image: url("../img/icon/bg1.svg");
    background-size: 400px 350px;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0.4;
  } */
}

@media (max-width: 768px) {

  .top__space-p {
    padding-top: 3rem;
  }
  .bottom__space-p {
    padding-bottom: 3rem;
  }
  .space__py {
    padding: 3rem 0;
  }
  .section__header{
    text-align: center;
  }
  .body__header header {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .header__brand img {
    height: 60px;
  }

  .header__nav {
    display: none;
    padding-top: 15px;
  }

  .hamburger {
    position: absolute;
    top: 30px;
    right: 4%;
  }
  .hamburger i {
    font-size: 30px;
    color: #1a1a1a;
  }
  .header__nav li a {
    padding: 8px;
    margin-bottom: 1px;
    display: block;
    background-color: rgb(236, 75, 149);
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
  }
  .banner__desktop {
    display: none;
  }

  .section__about-us figure {
    display: none;
  }

  .home__service-body article {
    width: 33%;
    padding: 30px;
  }
  .section__offer article{
    padding-bottom: 30px;
  }
  

  /*==========================================
    
        #contact page
    
    =========================================*/
  .wrap__contact-section > div {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  /*==========================================
    
        #service page
    
    =========================================*/
  .service__section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .service__section-article {
    width: 100%;
  }

  /*==========================================
    
        #about page
    
    =========================================*/
  .wrap__about-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  /*==========================================
    
        #footer section
    
    =========================================*/
  .footer__social{
    justify-content: center;
  }
  .footer__bottom{
    padding-bottom: 50px;
  }
  .fooetr__article-header{
    text-align: center;
  }
}



@media (min-width: 769px){
  .fixed__button {
      position: fixed;
      top: 200px;
      right: -35px;
      transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    
    z-index: 99;
  }
  
  .fixed__button a {
      /* background-color: #ff6600; */
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-decoration: none;
  }
}

@media (max-width: 768px){
  .fixed__button {
      width: 100%;
      position: fixed;
      bottom: -12px;
      text-align: center;
      z-index: 99;
  }
  
  .fixed__button a {
      /* background-color: #ff6600; */
      display: inline-block;
      padding: 10px 0;
      color: #fff;
      text-decoration: none;
      width: 100%;
  }
}
