@media (min-width: 769px){
    .hamburger{
        display: none;
    }
    .banner__mobile{
        display: none;
    }

    .body__header{
        width: 100%;
        background-color: #00000080;
        position: absolute;
    }
    .body__header header{
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .nav__list{
        display: inline;
    }
    .nav__list + li{
        margin-left: 30px;
    }
    .banner__desktop img{
        height: 100vh;
        width: 100%;
    }
    
    .home__service-body article{
        width: 33%;
        padding: 30px;
    }
    .testimonial__section-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 768px){
    
    .body__header header{
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .header__nav ul{
        display: none;
        
    }
    .hamburger{
        position: absolute;
        right: 0;
    }
    .hamburger i{
        font-size: 30px;
        color: #fc721e;
    
    }
    .header__nav{
        position: absolute;
        right: 50px;
        top: 0;
    }
    .banner__desktop{
        display: none;
    }

    .section__about-us figure{
        display: none;
    }
    
    .home__service-body article{
        width: 33%;
        padding: 30px;
    }

}