@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
/* font-family: 'Barlow', sans-serif; */

:root {
  --color-white: #ffffff;
  --color-theme: #fe6600;
  --color-dark: #212529;

  --color-theme-one:  rgba(114,85,159,1);
  --color-theme-two: rgba(203,43,118,1);
  --color-light-gray: #f5f5f5;
  --color-dark-gray: #5c5c5c;

  --color-text-1: rgb(255, 255, 255);
  --color-text-2: #999;

  --font-primary: "Barlow", sans-serif;

  /* background: rgb(203,43,118);
background: linear-gradient(237deg, rgba(203,43,118,1) 0%, rgba(114,85,159,1) 100%); */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-theme-two);
}

strong{
  font-weight: normal;
}

.wrap__container {
  margin: 0 auto;
}
.section__header {
  font-family: "Barlow", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.section__sub-header {
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  font-weight: 500;

}
/* =======================================

    #header section

==========================================*/
.nav__link {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-theme-one);
  /* color: #273846; */
  text-transform: capitalize;
}

/* =======================================

    #banner section

==========================================*/
.full__banner img {
  height: 100vh;
}
.half__banner img{
  height: 550px;
  width: 100%;
}

/* =======================================

    #body container section

==========================================*/

/* #offer section
==========================================*/

.offer__figure {
  text-align: center;
}
.offer__icon {
  height: 40px;
  fill: var(--color-theme-one);
}
.offer__header, .service__header{
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
.offer__body {
  text-align: center;
}
.offer__body ul li {
  display: inline;
}
.offer__body ul li::after {
  content: "|";
  padding: 0 5px;
  color: #d8d5d5;
}

.offer__body ul li:last-child::after {
  content: "";
}

.section__about-us {
  padding: 30px 0;
}

.home__service-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.booking__section-header,
.booking__section-footer {
  text-align: center;
}
.home__service-block{
  margin: 20px;
  padding: 4px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.home__service-block header{
  border-top: 1px solid #e7e7e7;
  padding: 20px 0 15px;
}

/* =======================================

    #footer section

==========================================*/
.body__footer {
  padding: 80px 0 20px;
  background-color: #131313;
}

.footer__article-header {
  margin-bottom: 20px;
  /* text-align: center; */
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #dcdcdc;
}
.footer__article-header img {
  width: 200px;
}
.footer__article-body-top p {
  padding: 0 0 10px;
  color: #a2a2a2;
}
.body__footer a {
  color: #a2a2a2;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.footer__social-link {
  padding-right: 30px;
}

.footer__social-link i {
  font-size: 20px;
  color: #a2a2a2;
}

.footer__contact-list {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.footer__contact-list i {
  color: #a2a2a2;
  padding-right: 10px;
}

.right__block-phone {
  display: block;
}

.footer__quick-links-list a,
.footer__contact a,
.footer__contact address {
  color: #a2a2a2;

  transition: 300ms;
}
.footer__quick-links-list a:hover,
.footer__contact a:hover,
.footer__social-link i:hover{
  color: var(--color-theme-one);
}


/* =======================================

    #contact page

==========================================*/
.contact__section-left {
  /* background-color: #666666; */
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../img/banner/slide.jpg");
}
.span__header {
  font-size: 20px;
  font-weight: 600;
}

.wrap__contact-section {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.contact__details li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contact__details-icon i {
  font-size: 25px;
  color: var(--color-theme-one);
  padding: 5px 15px 0 30px;
}

.contact__details-link {
  display: block;
}

.contact__details-link:hover {
  color: var(--color-theme-two);
}
.form-control {
  position: relative;
  padding-left: 35px;
}
.contact__form-icon {
  font-size: 15px;
  color: var(--color-theme-one);
  position: absolute;
  left: 19px;
  top: 61px;
  z-index: 1;
  padding: 0 10px 0 5px;
}

/* =======================================

    #about us page

==========================================*/
.wrap__about-section {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
.about__section-left .about__image img {
  width: 100%;
}
.about__section-left,
.about__section-right {
  padding: 30px;
}
.section__right-footer .design__types {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.design__types-list:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
}
.section__about-offer {
  margin-bottom: 100px;
}
.section__about-offer article{
  margin: 0 5px;
  /* background-color: #dadada; */
  /* background-image: linear-gradient(rgba(231, 231, 231, 0.90), rgba(231, 228, 228, 0.90)), */
    /* url("../img/banner/slide.jpg"); */
  color: #e8e8e8;
  border-radius: 4px;
  transition: 300ms;
}
.section__about-offer article:hover{
  transform: scale(1.025);
}


.section__about-offer figure {
  /* background-color: #110011; */
  padding: 30px 20px 10px;
  /* position:relative; */
}
/* .section__about-offer figure img {
   position: absolute;
  top: 30px;
  left: 41%;  
} */
/* 
.section__about-offer figure span {
  height: 60px;
  width: 60px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: auto;
  display: block;
 
} */

.section__about-offer h4 {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--color-dark);
}
/* .section__about-offer ul li + li {
  margin-left: 20px;
} */
.section__about-offer ul li {
  color: #747373;
  display: inline;
  padding: 5px 10px;
}
.section__about-offer .offer__icon{
  height: 60px;
}
/* =======================================

    #testimonial

==========================================*/
.section__testimonial, .section__about-testimonial {
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/banner/slide.jpg");
  color: #e8e8e8;
}
.testimonial__section-content > article {
  margin: 30px;
}

/* =======================================

    #service page

==========================================*/
.wrap__section-article {
  position: relative;
}
.service__image img {
  width: 100%;
  height: 350px;
}
.service__detail {
  height: 310px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #ffffffb2;
  transition: 300ms;
}
.service__article-header {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}
.service__section-article:hover .service__detail {
  display: none;
}
.service__slider-wrap img{
  width: 100%;
}

/* =======================================

    #faq page

==========================================*/
.faq__section-article {
  margin: 30px;
}
.faq__header {
  padding: 10px;
  background-color: #cecece;
  position: relative;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}
.faq__icon {
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
.fa-sort-asc {
  display: none;
}
.faq__footer {
  padding: 10px;
  background-color: #e7e7e7;
  display: none;
  background-color: #e7e7e7;
}


/* =======================================

    #gallery page

==========================================*/


.gallery__grid {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template:
    "1fr 1fr 1fr 1fr 1fr" 33.33vh
    "1fr 1fr 1fr 1fr 1fr" 33.33vh
    "1fr 1fr 1fr 1fr 1fr" 33.33vh;
  grid-gap: 10px;
}

.gallery__grid .box {
  position: relative;
  background: #ccc;
  cursor: pointer;
}



.gallery__grid .box header {
  /*display: none;
  */padding: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  background-color: transparent;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 300;
  color: transparent;
  position: absolute;
  bottom: 0;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}

.gallery__grid .box:hover header{
  /* display: block; */
  color: rgb(175, 175, 175);
  border-top: 2px solid rgba(0, 0, 0, 0.137);
  background-color: #000000a1;
  padding: 10px 0;

}

.gallery__grid .box.a {
  grid-row: span 2;
}

.gallery__grid .box.b,
.gallery__grid .box.f,
.gallery__grid .box.h,
.gallery__grid .box.j {
  grid-column: span 2;
}

.gallery__grid .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* outline: 2px solid rgb(26, 26, 26);
  outline-offset: -4px; */
  transition: 100ms;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
}

.gallery__grid .box::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  top:0;
  left: 0;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.gallery__grid .box:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.gallery__grid .box:hover img {
  outline: 1px solid rgb(46, 46, 46);
  outline-offset: 2px;
}

@media (max-width: 991px) {
  .gallery__grid {
    grid-template:
      "1fr 1fr 1fr" 250px
      "1fr 1fr 1fr" 250px
      "1fr 1fr 1fr" 250px
      "1fr 1fr 1fr" 250px
      "1fr 1fr 1fr" 250px;
  }
}
@media (max-width: 768px) {
  .gallery__grid {
    grid-template:
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px
      "1fr 1fr" 200px;
  }
}
.gallery__grid .box.h {
  grid-column: span 1;
}


/* =======================================

    #terms and conditions section

==========================================*/

.terms__conditions-body p{
  font-family: var(--font-primary);
  font-size: 16px;
}