RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-REQUEST_FILENAME
#RewriteRule ^([^\.]+)$ $1.php [NC, L]

RewriteRule ^index$ index.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^gallery$ gallery.php [L]
RewriteRule ^services$ services.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^faq$ faq.php [L]
RewriteRule ^privacy_policy$ privacy_policy.php [L]